Launcher/.vs/
Launcher/x64/Debug/Launcher.ilk
Launcher/x64/Debug/Launcher.exe
Launcher/x64/Debug/Launcher.pdb
Launcher/Launcher/x64/Debug/
Launcher/Launcher/Log.txt
Launcher/x64/Debug/*/Log.txt

ClickScroll/.vs/
ClickScroll/x64/Debug/ClickScroll.ilk
ClickScroll/x64/Debug/ClickScroll.exe
ClickScroll/x64/Debug/ClickScroll.pdb
ClickScroll/ClickScroll/x64/Debug/
ClickScroll/ClickScroll/Log.txt
ClickScroll/x64/Debug/*/Log.txt
